*{
    font-family: 'Roboto', sans-serif;
}

.navbar-default{
    background-color: white;
}

#new{
    background-color: #00D5D0;
    color: black;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}
.myNav{
    padding: 0 20px;
}

#headerTop{
    border-bottom: 1px solid #e5e8ed;
}

#headerTop a{
    background-color: transparent;
    color: #5b6987;
    margin-right: 18px;
    font-weight:400;
    font-size: 12px;
}

#headerBottom{
    padding: 10px 0;
}

#headerBottom a{
    color: #031b4e;
}
.UnifiedNav-logoSVG {
    fill: #0069ff;
    max-width: 180px;
    height: 50px;
    align-items: center;
}



#signUp.btn{
    color: #1532FF;
    border-color: #1532FF;
    margin-right: 50px;
}

#signUp.btn:hover{
    color: white;
    background-color: #1532FF;
}

header{
    background: #0248ff url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 800px;
    color: white;
    padding-top: 140px;
}



a#freeCredit{
    border-radius: 3px;
    background-color: #00B47B;
    border: 1px solid #009969;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    width: 100%;
    display: block;
    font-weight: 200;
}

a:hover#freeCredit{
    text-decoration: none;
}

.hero{
    padding:5% 15px;
}
.hero h1,.hero p{

    line-height: 1.5;
}
.hero h1{
    font-size: 42px;
    font-weight: bold;
}
.hero p{
    font-size: 18px;
    color:rgba(255, 255 , 255, 0.8);
    font-weight: 200;
}

#deployForm{
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 40px;


}

#deployForm h2{
    color:#031b4e;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 30px;
}

#deployForm form .btn{
    background-color: #0069ff;
    color: white;
    font-weight: bold;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 8px;
}

#deployForm input {
    padding: 25px 10px;
    font-size: 16px;
    border-color: #f1f1f1;
    box-shadow: none;
    border-radius: 8px;
}
#deployForm input:focus{

    border-color: #0069ff;

}
#deployForm input::placeholder{
    color: rgba(3,27,78,.7)
}

#deployForm small{
    display: inline-block;
    color: #5b6987;
    font-size: 12px;
    font-weight: 200;
    margin-top: 30px;
}
#deployForm small a{
    color: #0069ff;
    text-decoration: underline;
}


.my-separator {
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5b6987;
    font-size: 16px;
    font-weight: 200;
}

.my-separator::before,
.my-separator::after {
    content: '';
    display: inline-block;
    width: 35%;
    height: 1px;
    position: absolute;
    top: 10px;
    border-radius: 2px;
    background-color: #e5e8ed;
}

.my-separator::before {
    left: 0;
}

.my-separator::after {
    right: 0;
}

.alternativeSignUpBtn{
    color: #031b4e;
    background-color: #d5e3f7;
    font-weight: bold;
    letter-spacing: 1px;
    position:relative;
    padding: 15px 0;
    font-size: 16px;
}
.alternativeSignUpBtn img{
    max-width: 20px;
    position: absolute;
    left: 6%;
    top: 31%;

}

#logosPartner{
    background-color: #F3F5F9;
    padding: 40px 0;
}

#logosPartner img{
    max-width: 45%;
    display: inline-block;
}

#logosPartner img:first-child{
    padding-right: 60px;
}
#logosPartner img:last-child{
    padding-left: 60px;
}

#logosPartner h2{
    color: rgba(3,27,78,.4);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#logosPartner a{
    color: #0000ee;
    text-decoration: none;
    position: relative;
    font-size: 15px;
}
#logosPartner a:hover{
    color: #0069ff;

}
#logosPartner a::after{
    content: ' \203A';
    display: inline-block;
    color: #0000ee;
    font-size: 20px;
}

#logosPartner a:hover::after{
    color: #0069ff;
}

.mySectionText{
    text-align: center;
    padding-bottom: 40px;
}

.mySectionText h2{
    font-weight: bold;
    font-size: 36px;
    color: #031b4e;
    margin-bottom: 16px;
}
.mySectionText p{
    font-size: 20px;
    color:rgba(3,27,78,.7);
    margin-bottom: 16px;
    line-height: 2;
    font-weight: 200;
}


#deployScale ul li{
    color: rgba(3,27,78,.5);
    font-size: 16px;
    padding: 20px;
    border-left: 2px solid #e5e8ed;
}
#deployScale ul li.active{
        border-left-color: #0069ff;
}

.myThreeColumn{
    max-width: 100%;
}

.myTextBox{
    padding: 15px 0 0 15px;
    margin: 40px 0;
}

.myTextBox h3{
    font-weight: bold;
    font-size: 18px;
    color: #031b4e;
    margin:8px 0 16px;
}
.myTextBox p{
    font-size: 16px;
    color: rgba(3,27,78,.7);
    margin-bottom: 16px;
    line-height: 1.4;
    font-weight: 200;
    min-height: 130px
}



@media screen and (min-width: 768px) {

    a#freeCredit{

        margin-bottom: 40px;
    }

    .hero{
        padding:6% 15px;
    }
    .hero h1,.hero p{

        line-height: 1.3;
    }
    .hero h1{
        font-size: 62px;
        font-weight: bold;
    }
    .hero p{
        font-size: 25px;
        color:rgba(255, 255 , 255, 0.8);
        font-weight: 200;
        margin-top: 20px;
    }

    #logosPartner img:first-child{
        padding-right: 30px;
    }
    #logosPartner img:last-child{
        padding-left: 30px;
    }

    .myTextBox{
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {

    .myThreeColumn{
        max-width: 70%;
    }
}
